[2017-04-26 12:12] nigeltiany opened #2 "[request] change quasar variables for theming"
I have added a stylus meteor package (this one [by mquandalle](https://atmospherejs.com/mquandalle/stylus)), and on AppLayout.vue tested it out and it works
[code]

i have tried to import a quasar.variable.styl file with some custom variables but this does not work.

[code]

[2017-04-26 20:31] rstoenescu commented on #2
Seems like @mwarren2 did not implement this feature yet.
@mwarren2 can we implement this for the Meteor starter kit?

[2017-04-26 21:00] mwarren2 commented on #2
@nigeltiany Reading the docs for the mquandalle package there's a line which says:

Have you tried changing the name of the file to _quasar.variables.import.styl_ ?

[2017-04-27 07:50] rstoenescu commented on #2
@mwarren2 I see no `quasar.variables.styl` file in the template. Got a few questions:
1. Is it possible to use npm to manage Quasar's distributables/code?
2. How would someone upgrade Quasar version being used?

[2017-04-27 08:53] mwarren2 commented on #2
@rstoenescu  The `quasar.variables.styl` I mentioned was in the bit of gated code in @nigeltiany 's post.
`// @import '../quasar/quasar.variables.styl'` so I assumed that was the bit of code causing his problem.
1. If you look at the correspondence I had with you on the forum I tried for a long time to make Quasar work with meteor using npm, and it did work for a while, sort of.
Please see [http:/

[2017-04-27 09:06] rstoenescu commented on #2
@mwarren2 Thanks for detailing. I'll take a closer look to this issue after v0.14 release. Then we'll make this starter kit official too.

[2017-04-27 09:39] mwarren2 commented on #2
Thanks @rstoenescu that's good news.
Meanwhile @nigeltiany sorry if I can't solve your immediate problem easily.

But as you can see, we will be working on it!

[2017-04-27 19:12] nigeltiany commented on #2
@rstoenescu @mwarren2 alright. I'll let you know if i find out anything that can help.

[2017-05-09 15:43] mwarren2 commented on #2
@rstoenescu Good news.
It looks like meteor is going to sort out transpiling in the next Meteor version (1.5)

Here's the [bug link](https://github.com/meteor/meteor/issues/8640)

So I should be able to go back to installing from npm.
There is a beta of 1.5 that has been around for a while so I will start experimenting asap.

[2017-05-09 15:45] rstoenescu commented on #2
@mwarren2 Wow. This is really good news! Thanks for the update.

[2017-05-17 12:08] mwarren2 commented on #2
@rstoenescu I apologize for the delay, but there's a problem with a third-party bridge meteor <->vue that is crashing, and I've been stuck for a week now.

[2017-05-17 12:10] rstoenescu commented on #2
@mwarren2 no worries, don't be pressured by this. Thx for your efforts!

[2017-05-21 16:31] lesliechw opened #3 "Empty blank page after "meteor""
Hello all,

I'm unable to get the template run. After successful execute "meteor", http://localhost:3000 show white blank page.

What I did wrong? Please advice.

Thanks.

Regards,
Lesliez

[2017-05-21 19:13] mwarren2 commented on #3
For some reason FastClick is missing.

Run this command and meteor will start:
`meteor npm install --save`

Sorry about that.

[2017-05-22 04:27] lesliechw commented on #3
Thanks for your quick reply. I'll try it now.

[2017-05-22 14:59] thearabbit opened #4 "Could install `quasar` via NPM, and use `import.....`?"
I base on `Meteor + Vue-Meteor` (newbie for Vue).
Why don't install `quasar` via NPM, and use `import.....`?

[2017-05-22 15:06] mwarren2 commented on #4
It would be very nice if we could use the npm install.
Unfortunately quasar uses webpack, and meteor doesn't.

So after a lot of trying I had to abandon the npm install, which was very unfortunate.
However Meteor 1.5 may well have a solution, and I will be trying the latest beta as soon as that is possible.

But at the moment I have an open bug with akryum:vue-component so I am blocked for a while

[2017-05-22 23:21] thearabbit commented on #4
Thanks, waiting to try

[2017-05-23 14:59] jinear opened #5 "Could apply 'SSR'? or another way to set up 'SEO'?"
I tried for a week to set up SEO...

Things I used :
1. Vue2.0 SSR with Meteor WebApp package
2. integration with akryum:vue-ssr
3. Meteor Spiderable package (phantomJS)

All failed.....
'Quasar' does not work.
How do I set up 'SEO'?
I have no idea anymore....
I hope this will be resolved.

[2017-05-23 16:05] mwarren2 commented on #5
@jinear This isn't really the place to ask about SSR!
However since I faced the same problem I can tell you something about it.

1) I think SSR at the moment is not worth pursuing. It hasn't been solved properly for meteor.
2) PhantomJS is a possibility, but it uses too many resources and will stress your machine.
3) The simple answer to SEO for meteor is here [prerender](https://prerender.io). My

[2017-05-24 01:16] jinear commented on #5
Thanks for the answer.
As far as I know 'Meteor' has various ways to solve 'SEO' problems.
like <a href="https://atmospherejs.com/nodexpert/iron-router-seo#iron-router-seo">iron-router-seo</a> and like <a href="https://atmospherejs.com/meteorhacks/ssr">meteorhacks:ssr</a> and etc...
If <a href="http://quasar-framework.org/">Quasar Framework</a> apply in <a href="https://github.com/Akryum/vue-meteo

[2017-05-24 07:44] mwarren2 commented on #5
quasar-template-meteor is merely trying to find the best way to get the quasar-framework working with meteor. It serves no other purpose.

I really can't help you with SSR, quasar is Client, SSR is Server and is another kettle of fish altogether. I wish you luck with SSR, but no, I won't be dealing with it here.

[2017-05-24 07:44] #5 closed

[2017-05-25 16:53] jinear opened #6 "What do you think about 'quasar-template-meteor' with 'apollo'?"
I succeeded in combining  'quasar-template-meteor' and <a href="https://github.com/Akryum/vue-apollo">vue-apollo</a>.
But I am not sure about it.
Is it really a good choice?
Or <a href="https://github.com/quasarframework/quasar-template-meteor">quasar-template-meteor</a>, is it enough only for itself?
Do you think GraphQL is necessary?
I want to know your opinion.

[2017-05-28 09:40] mwarren2 commented on #6
My compliments for getting Apollo working.
I personally haven't yet looked at Apollo.

This is partly because I like mongo, and I don't need anything else.
Also partly because Apollo maybe still isn't quite ready - in the sense that Meteor with mongo made everything so easy, and Apollo, last time I looked, wasn't quite there yet.

quasar-template-meteor is just a project for getting the quasar fra

[2017-05-28 09:40] #6 closed

[2017-06-02 14:04] mwarren2 commented on #4
Unfortunately Meteor 1.5 hasn't solved the problem.

There's an open issue about this, which we will just have to hope is high enough on the list to be solved soon.

[2017-06-02 14:07] mwarren2 commented on #2
@rstoenescu Meteor 1.5 is just out and unfortunately this has not been solved but the new release.

The issue is still open and we will just have to hope that it is reasonably high on their todo list.

[2017-06-07 07:48] mwarren2 commented on #2
@rstoenescu  Now assigned to a [feature request](https://github.com/meteor/meteor-feature-requests/issues/6#issuecomment-306636673)

It's being followed by quite a few people so I think it will get done reasonably soon.

[2017-06-07 08:58] mwarren2 commented on #4
@thearabbit This has been assigned a [feature request at Meteor](https://github.com/meteor/meteor-feature-requests/issues/6), and seems to be followed by several people. So it's got a fairly good chance of being done soon.

[2017-06-19 21:04] nigeltiany opened #7 "Infinite Scroll Second Parameter is undefined"
Mapping a vuex actions
[code]
And having the action at the store make the request
[code]
Returns undefined for the second argument

The action is mapped this way to  the component
[code]

Quasar Version: 0.13.9

[2017-06-19 22:46] nigeltiany commented on #7
Maybe there is something i missed about JS :-)
Changing [this line if code](https://gist.github.com/nigeltiany/dfdfb4d47027c3a95f19c048700f8828#file-fixquasarinfinitescroll-js-L129) still result in
[code]
[code]

[2017-06-20 14:47] mwarren2 commented on #7
quasar-template-meteor is only about getting quasar-framework to work with meteor.
You are asking a question about something very specific in quasar that I don't have the necessary knowledge to answer.

So I am closing this. - Perhaps you should ask this in the [quasar forums](forum.quasar-framework.org)?

[2017-06-20 14:47] #7 closed

[2017-06-20 14:50] nigeltiany commented on #7
No I'm reporting a bug. The forums are for usage questions. Please reopen
or reference this in the main quasar framework repository
On Tue, Jun 20, 2017 at 10:47 AM mwarren2 <notifications@github.com> wrote:

[2017-06-20 14:53] mwarren2 commented on #7
The main quasar framework repository is [here](https://github.com/quasarframework/quasar)

[2017-06-20 14:56] nigeltiany commented on #7
I chose to open it here because it might work as expected on the main
repository
On Tue, Jun 20, 2017 at 10:53 AM mwarren2 <notifications@github.com> wrote:

[2017-06-20 15:06] mwarren2 commented on #7
That's fine that you've opened it here, but I'm not qualified to answer your question.
I would certainly help you if I could.

You would need to create a test-app with all the ingredients showing the problem and apply to the main repository, though.

[2017-06-20 15:09] nigeltiany commented on #7
Okay, I'll do that.
On Tue, Jun 20, 2017 at 11:06 AM mwarren2 <notifications@github.com> wrote:

[2017-06-28 15:40] mwarren2 commented on #4
@thearabbit I've solved this and it now installs from npm.

A little file called

 was needed in the root folder to ignore .vue files when compiling.
You can read about it [on this page](https://github.com/meteor-vue/vue-meteor/tree/master/packages/vue-component)

So I am closing this.

[2017-06-28 15:40] #4 closed

[2017-06-28 15:46] mwarren2 commented on #2
@nigeltiany I've solved this and it now installs from npm.

A little file called

`.vueignore`

was needed in the root folder to ignore .vue files when compiling.
You can read about it on [this page](https://github.com/meteor-vue/vue-meteor/tree/master/packages/vue-component)

So I am closing this.

@rstoenescu I've updated **README.md**, which I see you have beautified. I hope to find time to do

[2017-06-28 15:50] #2 closed

[2017-06-29 01:12] thearabbit commented on #4
Look great, I will try soon 👍

[2017-07-05 05:38] lesliechw opened #8 "Side drawer sluggish"
Hello,

Thanks for this Quasar Meteor integration boilerplate.

I just tried run it on Android device. Both of the side drawer seems very sluggish when open and close. Even with swipe slowly open it or close it, the background dimming/darken seems to be flickering.

Am I doing anything wrong? Please advice, thank you.

Lesz

[2017-07-05 10:22] mwarren2 commented on #8
Hi,

The Android devices I've used have all worked very nicely.
The only problems I originally had, and which were fixed very quickly, were on IOS (Safari for mobile is not an easy platform).

However if you want to take the issue further, start a bug report at the main quasar-framework site, along with detailed info about your Android version number, device name and so on, and your problem.

I am

[2017-07-05 10:22] #8 closed

[2017-07-05 12:08] rstoenescu commented on #8
The issue reported here has been fixed in v0.14 beta. But v0.14 beta is not yet ready for the meteor starter kit. Will be soon.

[2017-08-14 09:50] samuelandert opened #9 "How to create a custom theme file"
Thank you very much for this boilerplate!
How do I create a custom theme .styl file for example for the desktop/web variation, in order to globally override the stylus variables.
I would like to spice up the standard desktop/web theme, which we would include here:
`
else {
            //default
            require('/imports/quasar/quasar.MyCustomDesktopTheme.styl');
        }
`

[2017-08-17 15:02] rstoenescu opened #10 "Move all files inside a "/template" folder"
Hi @mwarren2 ,

All content from this template needs to be moved inside a "/template" folder to match Quasar CLI specifications regarding Quasar starter kits. Currently it breaks the CLI when trying to generate the template.

I can do this myself if you want to. If not, take a look at root folder in any other Quasar template repos please.

Thanks for all your hard work!

-Razvan

[2017-08-17 15:36] mwarren2 commented on #10
@rstoenescu I'll take a look at it later today. There's another issue to be responded to, so I'll do that as well.

[2017-08-17 15:39] mwarren2 commented on #9
@samuelandert Sorry for my late reply...
Unfortunately .styl files are beyond my current capabilities. I can't help much with this.

However I expect that the forums would be a good place to go for advice.
Sorry if that's not much help!

[2017-08-17 15:39] #9 closed

[2017-08-17 19:32] mwarren2 commented on #10
@rstoenescu Not sure this is going to work.
If you'd like to do the move, I'll check afterwards, but I have my doubts.

I've never even looked at Quasar CLI - because Meteor has its own build system, without which it will not work.
Don't know if you remember, but Meteor has no webpack. It was avoided from the start by the Meteor's creators because it's complex.

I think we have two build systems t

[2017-08-17 20:44] rstoenescu commented on #10
@mwarren2 This enables Quasar CLI to just generate a folder with all contents from "/template" folder. So it won't interfere in any way with what you created here.

As for the build itself, "quasar dev" runs "npm run dev" and "quasar build" runs "npm run build" commands. But don't worry about these. All that counts is that we have this "/template" folder which is perfectly equivalent to generating

[2017-08-17 20:48] rstoenescu commented on #10
For example, take a look at https://github.com/quasarframework/quasar-template-default
Notice that when generating a project folder with this template, the contents of the new folder is what "/template" contains. The rest of the files there in root are just "meta" data about the template.

[2017-08-19 13:43] thearabbit opened #11 "Excuse me, It is stable to use `Quasar + Meteor` (All Components)?"
Excuse me, It is stable to use `Quasar + Meteor` (All Components)?
Bc I would like to build my real project.

[2017-08-20 06:58] mwarren2 commented on #11
Already answered this [here](http://forum.quasar-framework.org/topic/47/meteor/70), so I'm closing this.

[2017-08-20 06:58] #11 closed

[2017-08-20 07:17] thearabbit opened #12 "Not work when update to "quasar-framework": "^0.14.1"!"
Get error
[code]

[2017-08-20 07:20] mwarren2 commented on #12
Yes, I haven't tried updating to 0.14 yet, because it's a major update.
Hope to find time pretty soon

[2017-08-29 05:00] thearabbit commented on #12
Waiting You!
👍 👍 👍

[2017-08-29 13:54] mwarren2 commented on #10
I've moved everything to a 'template' root folder.
Please check all is Ok.

I will now be trying quasar-framework 14 with Meteor.
If there are problems, I'll write in the starter kit forum page.

[2017-08-29 20:12] rstoenescu commented on #10
Yes, everything is good now. Thanks. Closing this. There's the another issue opened for Quasar v0.14. Let's continue there. Let me know if you need the commonjs format of Quasar, as Q v0.14 only has ES6 format available.

[2017-08-29 20:12] #10 closed

[2017-08-29 21:42] mwarren2 commented on #12
@rstoenescu In the other thread you said

In fact I was struggling with an "Uncaught SyntaxError: Unexpected token export" error, and I think your comment may be the solution!

[2017-08-30 15:28] mwarren2 commented on #10
@rstoenescu Hope you saw my comment in the other issue.

Meteor uses the common.js format, so yes, I think that would solve the other issue.

[2017-08-31 23:32] thearabbit opened #13 "Don't work `<q-btn icon="create">New item</q-btn>`"
I tried to use `<q-btn icon="create">New item</q-btn>`.
But don't work, why?

[2017-09-01 07:10] rstoenescu commented on #13
Meteor template is not yet compatible with v0.14. Use v0.13 while we make it work with v0.14. Thank you for your patience.

[2017-09-01 07:10] #13 closed

[2017-09-04 00:15] thearabbit commented on #13
Wating for support `Meteor`!
I love `Quasar`.

[2017-09-25 09:29] mwarren2 commented on #12
@rstoenescu Any chance of getting meteor up-to-date with 0.14?
I realize you've got a lot on your plate... but us meteor guys are falling behind.

You were looking into creating the commonjs file in the distribution.

[2017-09-28 14:54] delay commented on #12
I couldn't get this working with the latest build of quasar either.  So I installed it manually.  Not ideal but it works until a fix is found for npm install.  Also this will add about 400+kb to your project doing it this way which is less than ideal.

This is what I did:
I created an imports/quasar directory in my client folder and installed quasar.esm.js and quasar.mat.css which I got from the d

[2017-10-12 14:36] rstoenescu commented on #12
@mwarren2 Quasar UMD version is coming up. Thanks for your patience.

[2017-10-24 18:22] alexandesigner opened #14 "[Request] Improve integration with Meteor"
@rstoenescu @mwarren2

I've worked the standalone integration in this [repository](https://github.com/alexandesigner/quasar-meteor) and it's working fine, take a look and let me know if you have any questions.
##### _NOTE:_ is the reverse of what you are doing here, it is in this case an integration of the quasar side with webpack

### An alternative

There are two ways we can work with this integ

[2017-10-25 12:22] mwarren2 commented on #14
That's fine by me if you want to try the alternative. I'll look at anything that can keep Meteor working with Quasar.

However I will continue to work here on a solution without webpack, since the Meteor Development Group has always decided to do without it to keep things simple, and I personally have no great wish to learn webpack if I can avoid it.

@rstoenescu has kindly offered to produce a co

[2017-10-25 19:00] alexandesigner commented on #14
Excellent! this was my idea to keep both versions .. So both the users of the quasar and the users of the Meteor that are migrating to Vue as their user interface, could choose which one I would like to start.

@mwarren2 I am adept the structure of Meteor also do not have as much experience so with webpack, however, Quasar uses its base in webpack and I just thought it could be easier for Quasar S

[2017-11-02 09:07] mwarren2 commented on #12
@rstoenescu Any news?
I know you've got too much to do, but I keep hoping if I remind you, you will find some time for Meteor.

[2017-11-03 08:49] mwarren2 commented on #12
However yesterday this comment appeared from one of Meteor's main developers about Meteor 1.6.1 that might eventually do for us here.
https://github.com/meteor/meteor-feature-requests/issues/6#issuecomment-341584527

[2017-11-06 13:25] tsega commented on #12
@mwarren2 is there any way we can maybe expedite this process on our end. I have project I'm working on and I need to upgrade to the latest version of Quasar. I am more than happy to help on this.

[2017-11-06 14:26] mwarren2 commented on #12
You can do it manually like @delay did further up this issue. It works perfectly well if you can’t wait for a permanent solution.

[2017-11-06 17:26] tsega commented on #12
@mwarren2 it seems like that has done the trick, I need to update all my component to v0.14 but that's not a problem. Thanks again for the quick reply. My offer for help still stands.

My understanding, from what I've read, is that Meteor does not process/build anything in the `node_modules` folder and that essential is by design. Is that the core issue to the problem we are facing?

[2017-11-06 18:42] mwarren2 commented on #12
No, that's not the case. Meteor at the moment doesn't process quasar-framework from npm unless there is a commonjs version in the /dist folder. @rstoenescu, who is inventor of quasar, hopes to provide this soon, but he's got a lot on his plate.
Obviously we just want a simple install from npm of quasar, so it's worth waiting for. However we are also hoping that meteor 1.6.1 might solve the problem

[2017-12-16 06:05] devarthurribeiro opened #17 "Temporary solution to use the latest quasar version."
I have implemented a Meteor package containing the 0.15.0 version code built already tested with the template and being fired, could make a pull request with the change while version 0.15.0 is not officially released. I am willing to update and document any change. Is this viable at the moment or is it better to wait for the official version of the quasar?

[2017-12-16 06:06] devarthurribeiro commented on #14
#17 @alexandesigner

[2017-12-16 06:07] devarthurribeiro commented on #12
#17 @thearabbit

[2017-12-16 14:28] mwarren2 commented on #17
If you would like to leave a link here to the package (leave it in the main thread), please do.
I think many people would welcome it. Though maybe you should point out that 0.15 is not yet officially released.

However we need a more permanent solution and I can't be happy with anything less than a simple `npm install`, which is the direction meteor is going, in theory.

I appreciate that we are a

[2017-12-16 18:46] devarthurribeiro commented on #17
I already created the repository with the package. we really have to be grateful.

[2017-12-16 21:56] mwarren2 commented on #17
Since you mentioned version quasar 15.0: I see that a **UMD version** of the quasar code is on the [quasar roadmap](http://forum.quasar-framework.org/topic/815/quasar-v0-15-roadmap/2) for 15.0, which should solve the problem for meteor builds with **npm install**.

[2017-12-17 10:05] devarthurribeiro commented on #17
exactly was the UMD build I used for the package.

[2017-12-18 13:16] #17 closed

[2018-01-14 18:30] mwarren2 commented on #17
@devarthurribeiro Perhaps I did not understand your original comment.

Would you like to do a pull request? If you have it working with 0.15 beta that would be good.

[2018-01-14 21:23] devarthurribeiro commented on #17
@mwarren2 I sorry my english is bad. At the moment I'm using a meteor package that uses the built quasar 0.15. If you want I can add the package to the template and make the migration to quasar 0.15 and I help keep it updated or we can improve the meteor package and organize the repository.
what do you think ?

[2018-01-15 22:23] mwarren2 commented on #17
Ok, thanks. I'm going to take a look at the current state of things, because things have moved forward a little bit. Then I'll get back to you.

quasar-framework@0.15.0-beta.4 is installing from npm.
And so is meteor@1.6.1-rc.4

But meteor is doing some cutting edge stuff with a Babel 7.0.0 beta in 1.6.1, and that means that meteor packages like the **akryum** ones, which meteor needs to work with

[2018-01-16 01:40] devarthurribeiro commented on #17
Ok, let's wait. @mwarren2  I cloned the quasar repository and build it then I put the distribution version already transpilida in my package here is https://github.com/devarthurribeiro/quasar-meteor. but I need to update.

this delay in updating the Akryum packages can cause any problems for our projects?

[2018-01-16 08:39] mwarren2 commented on #17
The Akryum packages are fixed at a particular version of Babel so when Meteor 1.6.1 comes out they will have to be updated to work with 1.6.1. They made my update to Meteor 1.6.1 fail.

[2018-01-19 15:10] mwarren2 commented on #17
Thanks to your brilliant idea about transpiling, Arthur, I seem to have got a good result for quasar 14.7 (and probably 15). It should also be a simple clone from github and install from npm.

I hope to finish everything by this evening, watch this space and thanks again for your help!

[2018-01-19 15:53] devarthurribeiro commented on #17
@mwarren2 Good thing you got it with version 14.07. because I tried it before and it did not work. If you need help just talk.

[2018-01-21 23:25] mwarren2 commented on #12
@thearabbit I have done a successful install of 0.14.7, and have updated the code.
But don't get too excited, because there is a ui issue!

@rstoenescu Quasar is installing now quite simply from npm into meteor, and the syntax errors have gone.
But the ui is doing strange things, and I am unable to work out what is happening.

To get Quasar working with Meteor I have simply transpiled the es6 .js

[2018-01-21 23:30] mwarren2 commented on #17
Hi, please check issue #12.
I have updated the code and the install is pretty simple. But there is a ui issue, which hopefully will be solved asap.

[2018-01-22 12:26] mwarren2 commented on #12
@thearabbit I'm gradually getting the ui working again. I expect it will all be working soon

[2018-01-22 23:17] mwarren2 commented on #12
@thearabbit I think we can close this. The 0.14.7 version now works with Meteor.

I have to say that I find the new ui layout with the 'view' prop string hard to work with. I spent hours on this simple layout and it's still not working on desktop properly, only on mobile, and even then I find it a little unpredictable. It seemed so simple before.

[2018-01-22 23:17] #12 closed

[2018-01-23 00:43] thearabbit commented on #12
Good new 💯

[2018-01-25 10:23] mwarren2 commented on #12
P.S. Did some final adjustments to the UI yesterday. It's working well now, even on desktop.

[2018-01-25 11:09] thearabbit commented on #12
But now I base on `Desktop`.
haha

[2018-01-29 14:54] mwarren2 commented on #12
@thearabbit There was a bug in the ui, which has been solved in 0.14.8

It's now working properly.
The bug affected Meteor and dynamic imports.

[2018-01-31 14:22] thearabbit commented on #12
Thanks, Now it is stable to try `Quassar + Meteor`?

[2018-01-31 17:28] mwarren2 commented on #12
Reasonably so.
But I wouldn't use it for your clients yet.

Quasar is still in beta, and so are the Akryum Meteor/Vue packages.
Quasar is close to a proper release, according to its author, but I expect to still see a few changes.

And if Meteor 1.6.2 allows us to use es6 code directly then the import syntax I have used will probably change a bit, but I don't see that as a big problem.

You will h

[2018-02-01 01:43] thearabbit commented on #12
Thanks for your reply.
I will try with a personal project, and be waiting for release.

[2018-02-01 22:38] antoninadert opened #18 "Cannot install on Windows"
On Windows 10, in the bash, I tried

`meteor npm install`
and I got

[code]

I am pretty sure this is something wih the symlink not working on windows

[2018-02-02 10:48] mwarren2 commented on #18
Take a look at this:
https://github.com/meteor/meteor/issues/9247

It looks like the problem was the same.

[2018-02-22 10:22] rstoenescu opened #19 "Quasar Discord > Meteor channel"
Hi @mwarren2 ,

Sorry for opening an issue. Didn't know how to contact you otherwise. Please close it as soon as you read it.

I've switched Quasar's chat from Gitter to Discord and what I want to ask you is: would you like a channel specifically for Meteor?

Let me know or contact me directly on Discord (https://discord.gg/5TDhbDg)

-Razvan Stoenescu

[2018-03-01 10:03] #19 closed

[2018-03-01 10:25] mwarren2 commented on #19
@rstoenescu Can't seem to work out how to talk to you on Discord.
Sorry for the slow reply, but I wanted to think about it.

My admiration for you and your framework is unbounded, and I mean it, but I have to say no.
I'm not getting through my personal goals fast enough at the moment, and I fear the distraction.
Thank you for asking me

[2018-03-01 10:31] mwarren2 commented on #19
@rstoenescu P.S. Actually all that matters is that it isn't connected to me personally. A meteor channel would probably good in the sense that there seems to be a lot of interest from Meteor users in your framework.
I just can't commit to running it myself.

[2018-03-03 11:07] thearabbit opened #20 "Cannot find module '/node_modules/quasar-framework/dist/quasar.mat.common.js'"
After pull last, and `update npm and meteor`.
Get error

![image](https://user-images.githubusercontent.com/4495160/36933561-b68754f2-1f0d-11e8-92d9-0f41d684897a.png)

[2018-03-03 17:24] mwarren2 commented on #20
Did you call
`npm run transpile`?

[2018-03-03 18:13] rstoenescu commented on #19
It isn't connected to you personally. It's just a channel for Meteor connected to this repo. People may ask questions. You can answer them whenever you wish and if you wish. Just helps smooth things out. Nothing more.

[2018-03-03 18:18] mwarren2 commented on #19
That's fine.
I'm sure it would speed up acceptance for Quasar.

Please go ahead.

[2018-03-03 18:43] rstoenescu commented on #19
Already created it. https://discord.gg/5TDhbDg > #meteor

[2018-03-04 00:42] thearabbit commented on #20
Thanks I will check readme again

[2018-03-04 09:38] thearabbit commented on #20
Now it work fine
👍

[2018-03-04 09:38] #20 closed

[2018-03-08 14:50] antoninadert commented on #18
Thanks for your help. I managed this problem by doing a fresh install (getting rid of node_module)

Now my problem is that I get `'mv' is not recognized as an internal or external command,
operable program or batch file.`

I found this:
https://stackoverflow.com/questions/23118387/cmd-in-windows-7-does-not-execute-command-python-django

Do you think it means we need a special build command for win

[2018-03-08 15:27] mwarren2 commented on #18
Ok, instead of running
`npm run transpile`

You will need to take the four commands in package.json under `transpile` and work out how to run them in windows.... You could run the four commands manually.

`"transpile": "mv './.babelrc.RENAMED' './.babelrc'; babel node_modules/quasar-framework/dist/quasar.ios.esm.js --out-file node_modules/quasar-framework/dist/quasar.ios.common.js; babel node_modu

[2018-03-08 17:01] antoninadert commented on #18
Windows is a mess !!! hahaha. I'm glad. It worked !

I had to replace `babel` by `.\node_modules\.bin\babel` because even if I installed babel globally, windows couldn't find the command

`move .\.babelrc.RENAMED .\.babelrc`

`.\node_modules\.bin\babel node_modules\quasar-framework\dist\quasar.ios.esm.js --out-file node_modules\quasar-framework\dist\quasar.ios.common.js`

`.\node_modules\.bin\babe

[2018-03-08 17:19] antoninadert commented on #18
I created a batch file that does the job: attached here

Rename it to `transpile.bat`

[transpile.bat.txt](https://github.com/quasarframework/quasar-template-meteor/files/1794082/transpile.bat.txt)

If you know how to work with npm, but there seems to be a conflict between / and \ between windows and other OSes.

I hope you include this solution in the README and in the project for Windows users.

[2018-03-08 17:28] mwarren2 commented on #18
Brilliant!
I’ll include it in the Readme, absolutely

[2018-03-09 13:57] mwarren2 commented on #18
I have included transpile.bat in the root folder and updated the ReadMe to give a bit of help to Windows users.
I have also included you in the ReadMe. I hope you can cope with the fame.

I think we can close this issue.

[2018-03-09 13:57] #18 closed

[2018-03-09 13:59] mwarren2 commented on #18
Yes, Linux and similar all have the slash in the opposite direction to Windows

[2018-03-09 14:21] antoninadert commented on #18
Challenges that I have no clue how to solve. I don't find a place with the correct information. Some people say that we can use forward slash in npm scripts on windows.

Well it seems that it doesn't work so good for me. Maybe there's a way though,  but I'm a beginner here :)

[2018-03-13 07:21] Noboxulus opened #21 "transpile.bat is empty"
As says the title, the bat file doesn't contain the commands required for windows users to transpile.

It should contain the commands written by [antoninadert](https://github.com/antoninadert):

Quoted from the txt file posted by [antoninadert](https://github.com/antoninadert):
![image](https://user-images.githubusercontent.com/19311003/37327557-cab04e90-26d1-11e8-8209-bb3d5f60539a.png)

[2018-03-13 10:28] mwarren2 commented on #21
Thanks.
I've fixed it

[2018-03-13 10:28] #21 closed

[2018-03-30 13:30] antoineschaller opened #22 "Notify plugin not working"
Hi,

I can get Notify to work with the current version.
I installed it using
`Vue.use(Quasar, {plugins: {Notify}})` and it indicates it is installed
<img width="331" alt="screen shot 2018-03-27 at 17 57 50" src="https://user-images.githubusercontent.com/1187121/38139229-d067b43a-342e-11e8-906f-6a08e6295019.png">
but nothing happens on Notify.create('Message') calls and `this.$q.notify('Message')`

[2018-03-30 13:59] rstoenescu commented on #22
I think Quasar needs to be updated to latest 0.15.10

[2018-03-30 14:00] mwarren2 commented on #22
Ok, will update soonest, and then try it out as well.

I'll be in touch asap

[2018-03-31 12:30] mwarren2 commented on #22
I've updated to 0.15.10
Hope it helps.

[2018-04-03 07:32] antoineschaller commented on #22
@mwarren2 @rstoenescu awesome this fixes it! thanks for your quick help ;)

[2018-04-03 07:32] #22 closed

[2018-04-04 08:49] Noboxulus opened #23 "[Query] Quasar plugins (eg: Notify) and extras (eg: icons)"
May I know how to use Quasar plugins and extras using this template?

I've tried the following and they didn't work.

Notify #1:
[code]
Error:

`[Vue warn]: Error in event handler for "click": "TypeError: this.$q.notify is not a function"`

Notify #2:
[code]
Error:

`[Vue warn]: Error in event handler for "click": "TypeError: Cannot read property 'add' of undefined"`

[2018-04-04 10:34] rstoenescu commented on #23
Hi,

Duplicate of Notify plugin not working #22
Please check that. Thanks.

[2018-04-04 10:34] #23 closed

[2018-04-05 04:09] Noboxulus commented on #23
@rstoenescu
Pardon my negligence to mention that this issue was opened after I attempted the #22 solution and failed.
I edited the initial issue accordingly.
Thank you for pointing it out.

[2018-04-05 09:34] antoineschaller commented on #23
Hi @Noboxulus

The plugin installation should be done at Vue initialisation (line 27 https://github.com/quasarframework/quasar-template-meteor/blob/master/template/client/main.js). Simply add `plugins: {Notify}` to ``Vue.use(Quasar, {})`:

You will need to import Notify from '/node_modules/quasar-framework/dist/quasar.mat.common.js' as well:

`import Quasar, { Notify} from '/node_modules/quasar-fr

[2018-04-05 09:35] antoineschaller commented on #23
Hi @Noboxulus

The plugin installation should be done at Vue initialisation (line 27 https://github.com/quasarframework/quasar-template-meteor/blob/master/template/client/main.js). Simply add `plugins: {Notify}` to `Vue.use(Quasar, {})`:

You will need to import Notify from '/node_modules/quasar-framework/dist/quasar.mat.common.js' as well. Which gives you:

`import Quasar, { Notify} from '/node_m

[2018-04-06 11:33] Noboxulus commented on #23
@antoineschaller It works! Thank you for your help!

[2018-05-19 08:32] Noboxulus opened #24 "[Question] Why this template can use meteor run <android/ios> on Windows? And how?"
This project is a great initiative for a lot of reasons (Meteor + Quasar/Vue!).
They all fascinate me, but there is a particular one that fascinates and currently baffles me is the ability to develop mobile apps (android/ ios) using meteor on Windows, when meteor doesn't officially support building mobile apps on Windows.

From Meteor official website's Tutorials (6. Running On Mobile):
![image](h

[2018-06-15 09:33] Noboxulus opened #25 "Blank page when I run using the latest version of this template (as of 15-june-2018)"
I face the issue when I run meteor on this project, i.e. starting the server with the command `meteor`.

I tried all the below methods to no avail:
1.  `meteor update` and `meteor update --patch` in the template folder
2. Removing the .local folder and running `meteor`
3. Removing node_modules folder and running `meteor npm install`
4. Removing everything and cloning the git repo.
5. Upgrading met

[2018-06-15 09:42] mwarren2 commented on #25
Did you run the following command?

`ln -s ../node_modules/quasar-framework imports`

[2018-06-16 01:34] Noboxulus commented on #25
@mwarren2 yes, not the exact command tho as I am doing it on windows, I created the shortcut for ../node_modules/quasar-framework in imports folder.

The errors are the same before and after I created the shortcut.

[2018-06-16 06:50] Noboxulus commented on #25
It appears creating a "windows" shortcut (eg: with the powershell command `powershell "$s=(New-Object -COM WScript.Shell).CreateShortcut('%cd%\imports\quasar-framework.lnk');$s.TargetPath='%cd%\node_modules\quasar-framework\';$s.Save()"
` doesn't work.
We would have to create a symlink using the cmd `mklink /D "imports\quasar-framework" "..\node_modules\quasar-framework\" instead.
`

[2018-06-16 06:50] #25 closed

[2018-06-16 07:39] mwarren2 commented on #25
Great. I’ll put that in the ReadMe

[2018-06-20 12:55] alexandesigner commented on #14
The integration is excellent, I will close this question in favor of keeping it

[2018-06-20 12:55] #14 closed

[2018-06-22 21:30] tvogt opened #26 "icons not showing up"
from impression as well as Quasar documentation, I assume that "icon=save/alarm/help/" in AppLayout.vue is supposed to be icons, not text.

Doesn't work, shows up as text for me.
Meteor 1.7.0.3
macOS

clean install from today.

[2018-06-22 21:36] mwarren2 commented on #26
I'm on holiday at the moment, I'll take a look Monday

[2018-06-23 06:01] tvogt commented on #26
Doing a little more investigation, it first appeared that the public folder doesn't work. Directly accessing http://localhost:3000/MaterialIcons-Regular.woff lands me on the home page.

But then I spotted that the file is just a link, and the link is set wrongly:
# ls -lart public/
lrwxr-xr-x   1 tom  staff  119 22 Jun 09:32 MaterialIcons-Regular.woff -> /Users/malcolm/git/quasar-template-meteor/t

[2018-06-23 07:04] mwarren2 commented on #26
Well spotted.
I'll correct the link.

[2018-06-23 07:04] #26 closed

[2018-07-12 02:37] thearabbit opened #27 "Deploy Production on folder directory (`root/` or `template/`)"
Which path that we base on `Build Production/Deployment`?
[code]
OR
[code]

[2018-07-12 02:47] thearabbit opened #28 "Get error after upgrade to METEOR@1.7.0.3"
![image](https://user-images.githubusercontent.com/4495160/42609774-749dea30-85b8-11e8-8f0f-2c7e46c69a31.png)
[code]
[code]

[2018-07-12 07:08] thearabbit commented on #28
Now it work fine after remove/reinstall

[2018-07-12 07:08] #28 closed

[2018-07-12 07:09] thearabbit opened #29 "Could not use `this.$q.notify('Message')`!"
Could not use `this.$q.notify('Message')`!
[code]

[2018-07-12 07:20] rstoenescu commented on #29
Hi,

<img width="198" alt="notify" src="https://user-images.githubusercontent.com/4665641/42618246-140c95a4-85bd-11e8-85b2-6534b28167c7.png">

Have you installed the Notify plugin in quasar.conf > framework > plugins?

[2018-07-12 07:21] rstoenescu commented on #29
Ah, wait. Should get some sleep. I noticed just now that this is the Meteor repo. Sorry for closing. Disregard my previous message.

[2018-07-12 07:29] thearabbit commented on #29
Thanks for very quick reply, I base on `Meteor`.
I used this example repo, and then tried to add `Notify`
[code]
Main.js
[code]
Could help me

[2018-07-12 07:31] rstoenescu commented on #29
[code]

[2018-07-12 07:31] #29 closed

[2018-07-12 07:34] thearabbit commented on #29
It work fine, But I not clear how to use
[code]
What it mean???

[2018-07-12 07:35] thearabbit commented on #29
could I use global `component and plugins`?
Like Other UI Framework: `Element UI, Vuetify...`
[code]

[2018-07-12 07:39] thearabbit commented on #29
Could I use config `plugins` in vue template like `components`
[code]

[2018-07-12 08:36] mwarren2 commented on #27
Excuse the ignorance, but what is the /root folder?
I would have thought the second one was right.

I would like to help you, but unfortunately I don't know mup.js, I've never used it.

[2018-07-12 10:09] thearabbit commented on #27
Thanks for your reply.
I will try myself

[2018-07-12 10:09] #27 closed

[2018-07-15 19:17] Noboxulus opened #30 "QCollapsible shows literal "arrow_drop_down" instead of the drop down arrow picture"
Please refer to the images below.

Expected (taken from [quasar components:](https://quasar-framework.org/components/collapsible.html)

Actual:

The code snippet I added to `Home.vue`:

I am using windows for this.

I tried making a link to quasar-extras in imports folder just like what we did for quasar-framework, but it doesn't work.
The cmd I used: `mklink /D "imports\quasar-extras" "..\node_mo

[2018-07-16 13:15] mwarren2 commented on #30
You need a link from the /public folder to:
../node_modules/quasar-extras/material-icons/MaterialIcons-Regular.woff

[2018-07-17 07:47] thearabbit opened #31 "Could you example with Form Validation?"
Excuse me, could you example with Form Validation?

![image](https://user-images.githubusercontent.com/4495160/42803516-5ccb5fb6-89d0-11e8-9cf0-b99ac338bb67.png)

[2018-07-17 11:35] mwarren2 commented on #31
Sorry, but it's not something I've done yet.

You presumably looked at the example in the docs?
[quasar form validation](https://quasar-framework.org/components/form-validation.html

[2018-07-18 02:15] Noboxulus commented on #30
I just tried it, it works!
Thank you.
You'd have to remove or rename the existing `public\MaterialIcons-Regular.woff`
Then you run this cmd `mklink "public\MaterialIcons-Regular.woff" "..\node_modules\quasar-extras\material-icons\MaterialIcons-Regular.woff"`.
(without the /D argument since it is not a directory)

[2018-07-18 02:15] #30 closed

[2018-07-20 23:38] thearabbit commented on #31
I am not clear, how to integrate.
Waiting you...

[2018-07-30 12:53] Billybobbonnet opened #32 "How should I correctly include a Quasar Plugin?"
Hello,

First, thank you for this integration. I used it as a base for an app I'm just starting to work on, and this is my first vue experience.

I added a calendar plugin (https://github.com/stormseed/quasar-calendar) to this app. Since I could not import directly the node package, I copied its content in the `template/imports` folder, updated the imports paths to Quasar accordingly to the path u

[2018-07-30 15:31] mwarren2 commented on #32
I wish I could help you.

It took a long time to get **quasar-framework** working with Meteor and I know that what we did to make it work is not perfect, but for the moment it's the best we've got....

[2018-07-31 10:46] Billybobbonnet commented on #31
@thearabbit @mwarren2 I successfully integrated Vualidate by adding `  Vue.use(Vuelidate)` globally to my index.js . The approach of @rstoenescu mentionned in the other issue (`` plugins: { Notify }`) works for notify but not for vualidate.

The use of vualidate is exactlly the same than in regular [Quasar](https://quasar-framework.org/components/form-validation.html), just don't forget to update

[2018-07-31 14:39] thearabbit commented on #31
could you share the full example?

[2018-07-31 14:53] Billybobbonnet commented on #31
You just need to install vuelidate npm, `import Vuelidate  from '/node_modules/vuelidate/dist/vuelidate.min.js'` and add `Vue.use(Vuelidate)` to the `template/client/main.js` file? Vuealidate will be available, you can verify it with a basic example, here with [the home page component](https://gist.github.com/Billybobbonnet/c75e1fd962c506fe4f22429b09ffe93b).

It assumes that you also have the noti

[2018-08-01 00:17] thearabbit commented on #31
Now I tried, It work fine.
But I would like show directly `error message` on Form Object

![image](https://user-images.githubusercontent.com/4495160/43494016-e910ee42-955a-11e8-84fb-04efbeeb0cbd.png)

[code]

[2018-08-01 00:46] thearabbit commented on #31
What do you think about `VeeValidate`?

[2018-08-01 01:05] thearabbit opened #33 "Could I register `Quasar` component, plugin... global usage?"
How to register `Quasar` component, plugin... global usage
[code]
And then I could use all component, plugin... in template
[code]

[2018-08-01 01:09] rstoenescu commented on #33
Example for Quasar v0.16:
[code]

[2018-08-01 01:09] #33 closed

[2018-08-01 02:26] thearabbit commented on #31
Now I tired `VeeValidate `, It is easy then `Vualidate`
[code]

[2018-08-01 08:38] Billybobbonnet commented on #32
I'll close this issue. Feel free to reopen it if you find a more suitable way to include that plugin (and similar ones).

[2018-08-01 08:38] #32 closed

[2018-08-01 08:40] Billybobbonnet commented on #31
I never used VeeValidate, so no idea what to think about it. I could have proper error message under the field, Vuelidate allows it.

If you consider your question answered, as I assume, you should close the issue.

Good luck with your work on Quasar/Meteor

[2018-08-01 09:19] thearabbit commented on #31
Vuelidate don't have `error message` If I don't confuse.
VeeValidate has buildin `error message`.
[code]
Could example?

[2018-08-01 10:28] Billybobbonnet commented on #31
Vualidate provides the error. Quasar inputs natively have an error state to display it :https://quasar-framework.org/components/input-textfield.html#Error-State

[2018-08-01 23:43] thearabbit commented on #31
Oh thanks again.
[code]
I mean that the `Vuelidate` don't have `error-label` build-in.

[2018-08-02 00:17] thearabbit opened #34 "Why need do this `link to /node-modules/quasar-framework in the /imports`?"
Why need do this `link to /node-modules/quasar-framework in the /imports`?
Could explain???

[2018-08-02 00:29] mwarren2 commented on #34
I explained this in the ReadMe:

--------------
This is the relevant bit from meteor's History.md:

[2018-08-02 01:03] #34 closed

[2018-08-04 03:00] thearabbit opened #35 "What difference import `/node_modules/quasar-framework/dist/...` VS `/imports/quasar-framework/dist/...`"
What difference import `/node_modules/quasar-framework/dist/...` VS `/imports/quasar-framework/dist/quasar.mat.esm.js`?
Which one we should use?

[2018-08-06 01:09] thearabbit opened #36 "not required `template` directory, if don't use `quasar cli`?"
not required `template` directory, if don't use `quasar cli`?

[2018-08-06 06:47] mwarren2 commented on #36
The 'template' directory is not required for Meteor.

[2018-08-06 06:50] thearabbit commented on #36
Thanks for your reply 👍

[2018-08-06 06:51] thearabbit commented on #36
Now I am testing`Meteor + Quasar` with my small project

[2018-08-06 06:58] mwarren2 commented on #35
Well the second one is just a link that points to the first one, so I would use the first one.

[2018-08-06 07:01] thearabbit commented on #35
But now I tried import without `node_modules`, It still work fine
[code]
So I should be use this???

[2018-08-06 07:45] #36 closed

[2018-08-06 07:46] #35 closed

[2018-08-25 07:35] thearabbit opened #37 "how to use fontawesome?"
I try to copy `/node_modules/quasar-extras/fontawesome` to `public`

![image](https://user-images.githubusercontent.com/4495160/44616109-fb8fa280-a873-11e8-8d99-8cc728dfaf8e.png)

![image](https://user-images.githubusercontent.com/4495160/44616114-14985380-a874-11e8-963a-582c680d1157.png)

But don't work

[2018-09-04 13:05] thearabbit commented on #37
very thanks, I will try

[2018-09-04 13:23] thearabbit opened #38 "Load/refresh page don't smooth!"
The page don't smooth when loading/refresh???
(Show page don't has style)

![sep-04-2018 20-20-47](https://user-images.githubusercontent.com/4495160/45034037-821c5f00-b080-11e8-8413-ef050aad9918.gif)

[2018-09-04 13:29] mwarren2 commented on #38
Hi,
That's a question you need to put in the Quasar forums or on StackOverflow.

It's not something I know much about!

[2018-09-04 13:31] thearabbit commented on #38
Thanks, now I open new on `quasar forums`.

[2018-09-04 13:31] #38 closed

[2018-09-04 13:32] mwarren2 commented on #38
Though I have always noticed this written in the developer's console when I'm at localhost:3000 in the browser:

[2018-09-04 13:35] thearabbit commented on #38
Thanks again, I will try to run in Production mode.

![image](https://user-images.githubusercontent.com/4495160/45034537-01f6f900-b082-11e8-93b9-f4401672e1a1.png)

[2018-09-05 04:00] thearabbit opened #39 "Problem with `meteor build ...` production"
I tried build `Meteor + Quasar` production
[code]
![image](https://user-images.githubusercontent.com/4495160/45070291-cea48080-b0fa-11e8-975c-0d317b278214.png)

![image](https://user-images.githubusercontent.com/4495160/45070295-d49a6180-b0fa-11e8-92a6-be56d0b8c341.png)

[2018-09-05 05:06] thearabbit commented on #39
Now work fine when I tried change import path
[code]

[2018-09-05 05:06] #39 closed

[2018-09-05 08:12] thearabbit commented on #37
It don't work

![image](https://user-images.githubusercontent.com/4495160/45079984-05d85900-b11e-11e8-897e-7495f4c86d57.png)

I use
[code]

[2019-01-01 21:09] mwarren2 opened #40 "Upgraded to Meteor 1.8, but waiting for akryum:vue-router2 fix"
Unfortunately due to a [problem with akryum:vue-router2](https://github.com/meteor-vue/vue-meteor/issues/336) we are unable to upgrade to Meteor 1.8

It doesn't seem to be a difficult problem to solve (let's hope not), we can only wait and hope that it will be dealt with soon.

[2019-01-07 14:21] rekDen commented on #40
Hey mwarren2,

my team mate @ahmelkady and me figured it out how to solve this issue.
For us the problem was solved when downgrading akryum_vue-router2 from 0.2.2 to 0.2.0 by changing manually the .meteor/versions file.

Best regards

[2019-01-28 23:59] thearabbit commented on #37
thanks

[2019-01-28 23:59] #37 closed

[2019-02-08 23:57] thearabbit opened #41 "Quasar 1.0 is released!!!!!!!!"
Quasar 1.0 is released!!!!!!!!

https://medium.com/quasar-framework/quasar-1-0-reaching-for-the-stars-284e7716625a

[2019-02-09 09:57] thearabbit commented on #41
I tried, but get error
[code]

[2019-02-09 10:15] rstoenescu commented on #41
Hi @mwarren2 ! Please connect with me to help get this bumped to 1.0. Thanks!

[2019-02-09 10:18] mwarren2 commented on #41
@rstoenescu @thearabbit I've got urgent work to do today, I'll be in contact as soon as I can look at this

[2019-02-09 10:20] rstoenescu commented on #41
@mwarren2 No rush. At your own pace. I'll be available for you.

[2019-02-09 10:37] thearabbit commented on #41
Very thanks for all 💯.
Waiting you...

[2019-02-11 10:14] mwarren2 commented on #41
@thearabbit How did you update to the beta?

I would like very much to try the beta, but I'm not keen on updating here unless it's easy for other people to do so. The beta isn't on npm.

[2019-02-11 11:38] thearabbit commented on #41
Quasar changed npm name on `1.0`.
[code]

[2019-02-11 11:42] thearabbit commented on #41
### main.js
[code]

[2019-02-11 13:16] mwarren2 commented on #41
Ah, so it's been renamed to **quasar** from quasar-framework, that explains it

[2019-02-11 23:40] thearabbit commented on #41
I am not sure

![image](https://user-images.githubusercontent.com/4495160/52601355-1214cf00-2e91-11e9-8d07-1fe409d71584.png)

[2019-02-12 00:10] thearabbit commented on #41
![image](https://user-images.githubusercontent.com/4495160/52602448-50ac8880-2e95-11e9-99c6-d6c1a4222993.png)

[2019-02-12 00:11] nothingismagick commented on #41
@mwarren2 - I highly recommend you visit the discord channel and join the conversation. You are always welcome!

[2019-02-12 08:24] thearabbit commented on #41
Could you join this issue on `Meteor`?
https://forums.meteor.com/t/get-error-import-quasar-from-quasar-1-0/47821/3

[2019-02-12 08:30] mwarren2 commented on #41
@thearabbit A little patience, I haven't actually been able to look at it, I've got a lot on my plate.
I'll be trying it out in the next couple of days

[2019-02-12 11:12] thearabbit commented on #41
No problem

[2019-02-13 22:48] mwarren2 commented on #41
@thearabbit I've got Quasar 1.0.0 working, but there are many, many breaking changes to the ui, so this is going to take a while.

[2019-02-13 23:54] thearabbit commented on #41
Haha, working on `import Quasar from 'quasar'`?

[2019-02-14 08:19] nothingismagick commented on #41
@mwarren2 - there is a worksheet about this that the core team has been putting together with some of our early adopters: https://gist.github.com/hawkeye64/da4b4d662ab1484bd0b532ffd871679e

[2019-02-15 18:01] nothingismagick opened #42 "please use yarn.lock and not package-lock.json"
In compliance with the rest of the repositories in the Quasar ecosystem, please create and commit a yarn.lock file & remove the package.json

[2019-02-15 19:25] mwarren2 commented on #42
um, what you're saying is you want me to give up npm and convert to yarn, which I've never used.
Well, I'll have to look into it I suppose.

But this isn't really part of the Quasar ecosystem. For a start if you use Meteor you don't/can't use Webpack.

[2019-02-15 20:25] rstoenescu commented on #42
@mwarren2 Leave package.json if this is what you are most proficient with. We'll work around this.

[2019-02-15 20:25] #42 closed

[2019-02-15 20:49] nothingismagick commented on #42
For some background info: I am preparing automatic auditing of our repositories and all of them use yarn and we commit the yarn.lock file - but as Razvan said, we'll work around it. Your project is awesome!

[2019-02-23 15:54] mwarren2 commented on #41
@rstoenescu I have a problem with QLayout in the beta for some reason.
I've tried to install the beta both for this template and for a larger project of mine, and I just get a blank div with QLayout.

Problem is, I haven't been able to work out what on earth is happening. I haven't been able to debug this at all.

QLayout is basically just a black hole in my apps, where components never appear. If

[2019-02-24 00:31] rstoenescu commented on #41
@mwarren2 Haven't looked at what Vue version you are using, but you need 2.6.x. This is probably why the default slot is not being correctly detected in your case. Let me know if this is not the issue.

[2019-02-24 08:27] mwarren2 commented on #41
@rstoenescu Thanks, that solved it

[2019-02-24 11:14] mwarren2 commented on #41
Ok, update to 1.0.0 beta is ok.

However I'll try an install on IOS for good measure

[2019-02-24 11:14] #41 closed

[2019-02-24 12:06] thearabbit commented on #41
💯

[2019-02-24 16:52] mwarren2 opened #43 "TypeError: null is not an object (evaluating 'document.body.classList')"
@rstoenescu I get this error from the installed app on IOS.

I've already seen this error on another app I've been working on for a while, and I think this appeared before the 1.0.0 beta, in 0.17.  I just hadn't had time to follow it up at the time.

It happens on **line 41 in body.js** in the bodyInit() function
`document.body.classList.add.apply(document.body.classList, cls)`

[2019-02-24 17:29] rstoenescu commented on #43
@mwarren2 Is this code run on the server? If on a browser, this definitely cannot fail. If running on the server, then there's a guard already in place which checks for `window` global. Is that by any chance defined in Meteor on the server side?

[2019-02-24 17:41] mwarren2 commented on #43
@rstoenescu This is client side, not SSR if that's what you mean.

[2019-02-24 17:59] rstoenescu commented on #43
What iOS version are we talking about? `document.body` is supported by all browsers, `classList` is again supported by all browsers.

[2019-02-24 18:00] rstoenescu commented on #43
Means you're placing the Quasar script in the head and not body? So `body` is not available yet. Need more details unfortunately.

[2019-02-24 18:36] mwarren2 commented on #43
Meteor deals with placement of the code.
It's all .js code and it's all in the head on the phone.

However given what you've told me I reckon it needs to be solved by Meteor, and I've got a couple of ideas I can look into.

[2019-02-24 18:42] mwarren2 commented on #43
Found it.

Thanks for the really fast response, as always !

[2019-02-24 19:26] #43 closed

[2019-04-21 10:40] thearabbit commented on #41
Now It work fine for directly importing, don't use `ln -s ../node_modules/quasar imports`
[code]
I base on `METEOR@1.8.1, "quasar": "^1.0.0-beta.18"`

[2019-04-21 14:58] mwarren2 commented on #41
Yes, the short Quasar import now works, which is great
`import { Quasar } from "quasar";`

But I have been unable to remove the link in the **/imports** folder to quasar. If I remove that, nothing works.
The same with the link in the **/public** folder to 'web-fonts', it has to be there.

I'll install the update with the latest beta soonest, later today.

[2019-05-13 13:52] arezaee opened #44 "RTL Support"
hi,
this is a great work, and I like to use it.

I want to enable RTL support
in the quasar documentation said to change the "quasar.conf.js" file, but that file is missed in this template.
so how can enable it?

thanks

[2019-05-13 14:06] mwarren2 commented on #44
I wish I could help with this.
But there are some things that have been sacrificed when putting Meteor and Quasar together.
And probably RTL support from Quasar is one of those things.

The point is that Meteor does not use the Webpack build system.
Meteor has its own build system, which is extremely simple to use, and is one of its big advantages, to my mind.

What I have done with Meteor is to i

[2019-05-13 14:08] nothingismagick commented on #44
Yeah - and the issue is that without the CLI - you won't have access to any
app-extensions. Wish there was a way around that... Building from git?

[2019-05-13 14:09] mwarren2 commented on #40
In order to move things forward I guess I can just replace akryum:vue-router2 with vue-router2. I haven't done anything here that actually needs the akryum version.

[2019-05-13 14:27] mwarren2 commented on #44
@nothingismagick I hear you and I can see the advantage of app-extensions. But getting it hooked up with Meteor is I guess beyond my capabilities - apart from finding the time to do it - and maybe beyond Meteor's possibilities with Quasar. In particular due to Meteor's decision to keep Webpack out of the story.

[2019-05-14 08:56] mwarren2 commented on #44
@nothingismagick
[code]
Can you sum up what this code in quasar.conf.js actually ends up doing in the build?
Is it triggering something fairly simple?

[2019-07-09 09:25] rstoenescu opened #45 "2FA on github account"
Hi @mwarren2

Sorry for opening a ticket on this one, but could you please enable 2FA on your github account asap? Ping me when it's done. And thanks for everything that you do here!

[2019-07-09 09:31] mwarren2 commented on #45
Done

[2019-07-09 09:31] #45 closed

[2019-08-21 07:48] spanwair commented on #31
Ok I will give you last and I guess the best option
`<q-input
        label="Email"
        v-model="email"
        type="email"]
        :error="$v.form.email.$error"
        error-message="Required, must be email"
      />`

[2019-09-18 20:40] mwarren2 commented on #40
Replaced akryum:vue-router2 with vue-router.

[2019-09-18 20:40] #40 closed

[2019-09-20 03:55] florensiuslaylim commented on #31
@spanwair wow, i newbie in quasar and looking for error message vuelidate and this is best answer for me!

[2019-11-23 13:10] mwarren2 commented on #44
Closing this as unfortunately there is little that I can do in this case

[2019-11-23 13:10] #44 closed

[2019-12-19 03:02] gallen opened #46 "import { Quasar } not working"
Changed this line
[code]
to
[code]

in client/main.js, it works.

[2019-12-19 10:06] mwarren2 commented on #46
Ok, fixed.
Thanks.

[2019-12-19 10:06] #46 closed

[2020-01-10 14:18] mehmetulukaya opened #47 "image locations"
Hello,

I couldn't successful about to get images on the localhost directory like as "/statics/logo.png" but I can show the "https://placeimg.com/500/300/nature?t=" similar images.
What should I do to show local images on the page?

Working template:

[code]
but this is not working:

[code]
I changed the       src="~/statics/24509.svg" to       src="/statics/24509.svg" or       src="../../statics/

[2020-01-10 15:08] mwarren2 commented on #47
Place the image in the **public** folder and then you can reference it like this:

`       <q-img
                src="/220px-Merope.jpg"
                style="height: 140px; max-width: 150px"
        />
`

I will add this image to the code in a couple of minutes

[2020-01-11 16:03] linxcoder opened #48 "Data is not synchronized between the mobile and the others device"
Hello,

I'm a bit new with Meteor, I have a mongoDB synchronization problem.
The MobileApp is loaded well, but the data does not synchronized with others apps.

In console log, I see
[code]

However I passed the host and the port of the server like this.
[code]
Do you have an idea of ​​my problem, this is how i launch the command RUN.

thanks in advance

[2020-01-11 18:18] linxcoder commented on #48
Sorry data is local in app !!
it's OK

[2020-01-11 18:18] #48 closed

[2020-01-11 20:15] mwarren2 commented on #47
Can we close this?

[2020-01-12 16:22] #47 closed

[2020-01-30 23:32] thearabbit opened #49 "Could you example to manage user authentication on login/logout form?"
Could you example to manage user authentication on login/logout form?

Thanks for your example!

[2020-02-01 10:01] mwarren2 commented on #49
I'd refer you to the extensive Meteor documentation on the subject, because whether you have Quasar or not makes no real difference to using Meteor's user authentication

[2020-02-01 10:19] thearabbit commented on #49
thanks for your reply.
I will check Meteor User account.
If you can, please share me.

[2020-02-01 10:19] #49 closed

[2020-02-16 03:31] thearabbit opened #50 "Could add `roboto font`?"
Could add `roboto font`?

[2020-02-17 12:58] mwarren2 commented on #50
All you have to do is create a link like the one I have shown in the ReadME.

This was the command to create the link to the material-icons stuff.
`ln -s ../node_modules/@quasar/extras/material-icons/web-font public`

Just do something similar to the roboto-font folder that you will find in the same place in node_modules/@quasar/extras

[2020-02-17 14:00] thearabbit commented on #50
But it is duplication `web-font` folder name in public?

[2020-02-17 14:04] thearabbit opened #51 "Problem with `import { Quasar } from 'quasar'`"
It don't work (import with demand)
[code]
But work fine with (It mean that import all???)
[code]

[2020-02-17 14:31] mwarren2 commented on #51
I'm sorry but I don't know the answer

[2020-02-17 14:34] mwarren2 commented on #50
Presumbably you can try just naming the link something else. You will have to experiment.
I don't have all the answers, sorry.

Try calling the roboto-font link robotoweb-font for example

[2020-02-17 23:24] thearabbit commented on #50
I tried
[code]
It don't work, bc `.css` file import from `./web-font` base folder name???

[2020-02-17 23:26] thearabbit commented on #51
Thanks for your reply.
By document

![image](https://user-images.githubusercontent.com/4495160/74691947-9540d180-5217-11ea-9f1c-52b54ea4d0c6.png)

[2020-02-17 23:47] thearabbit commented on #51
This error

![image](https://user-images.githubusercontent.com/4495160/74692573-74c64680-521a-11ea-871a-93182a7d0edd.png)

[2020-02-18 09:44] mwarren2 commented on #50
Just do another link for the .css file

[2021-06-08 20:26] letuan0803 commented on #29
thank you. it work for me!!!

[2021-08-30 20:26] CynthiaBlue opened #58 "Quasar Folder Structure is different from this project"
The files in this project do not reflect the Quasar Folder Structure.

https://quasar.dev/quasar-cli/directory-structure

Are there more specific instructions as to how to use this project?
I am quite new at Quasar, and have not yet used meteor, so the lack of instructions on this project make it frustrating to try.

[2021-08-31 06:02] mwarren2 commented on #58
This project was born some time ago when Quasar was new.
I'd been using Meteor for quite some time and was looking for a good UI to add to Meteor and Quasar looked like a good fit.
But getting them to work together in the beginning was hard and I worked with Quasar's creator for a while, hence this project.

However this project installs Quasar into Meteor, not the other way round. And these days

[2021-08-31 06:03] mwarren2 commented on #58
Sorry didn't mean to close this.
If you have any other questions I'll try to answer them.

[2021-09-15 10:19] MIM-project opened #59 "Quasar latest version and Meteor"
Hi,

We have tried to use the last version of Quasar with Meteor and it didn't work.
There is an error from the console : ref is not a function.
It seems to come from "quasar.esm.prod.js".
For the moment, we use the previous version and all is working well.
We sent an email to the Quasar team.

[2022-05-14 15:08] gallen commented on #59
Any update on this?

[2022-07-06 11:07] JacquesRobin opened #62 "Meteor v2.2 or v1.9.3?"
Hi

The main page of this starter kit states that it is based on Meteor v2.2.
However, the template/.meteor/versions file states that it is Meteor v1.9.3

So which Meteor version should be used for this kit?